.main-layout {
    display: flex;
    flex-direction: column;
    /* width: 100vw;
    height: 100vh; */
}

.content-layout {
    display: flex;
    
}

.content {
    flex: 1;
    background-color: var(--background);
    margin-block: 1em;
    margin-inline: 2em;
}