.register-page {
    display: flex;
    flex: 1;
}

.register-page .side-image {
    height: 100%;
}

.register-page .register-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

.register-page .register-content .title {
    width: 25rem;
    font-weight: 900;
    font-size: 24px;
}

.register-page .register-content .description {
    width: 25rem;
    font-size: 18px;
}

.register-page .register-content .input-group {
    width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.register-page .btn-register {
    display: flex;
    justify-content: center;
    background-color: var(--primary2);
    color: white;
}

.register-page .btn-login {
    display: flex;
    justify-content: center;
    background-color: var(--primary2);
    color: white;
}